<!DOCTYPE html>
<html lang="en">
<head>
  <title>Palestra X</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> 
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> 
  
 
  <style>
      .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  
   .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  #footer {
      background-color: #232323;
      clear: both;
      border-top:1px solid black;
  }
      #tablefooter{
          border-collapse: separate;
    border-spacing: 100px 10px;
      }
   .container-inner {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}   
  </style>
</head>
<body>


<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#myNavbar" data-toggle="collapse" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Palestra X</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="file:///C:/Users/User/Desktop/index.html">Kryefaqja</a></li>
        <li><a href="#">Forumi</a></li>
        <li><a href="file:///C:/Users/User/Desktop/about.html">Rreth Nesh</a></li>
        <li><a href="file:///C:/Users/User/Desktop/Kontakt.html">Kontakt</a></li>
      </ul>
        <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" >
      </div>
      <button type="submit" class="btn btn-default">Kerko</button>
    </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="regjistrohu"><span class="glyphicon glyphicon-user"></span>Regjistrohu</a></li>
        <li><a href="#" id="identifikohu"><span class="glyphicon glyphicon-log-in"></span>Identifikohu</a></li>
      </ul>
    </div>
  </div>
</nav>


                    <!-- Forma Modale e regjistrimit-->
  <div class="modal fade" id="modalRegjistrimi" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Regjistrohu</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span>Email</label>
              <input type="text" class="form-control" id="usrname" placeholder="jepni emailin">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Fjalekalimi</label>
              <input type="password" class="form-control" id="psw" placeholder="Jepni fjalekalimin">
            </div>

            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Konfirmo Fjalekalimin</label>
              <input type="password" class="form-control" id="psw" placeholder="Jepni fjalekalimin">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Kodi Regjistrimit</label>
              <input type="text" class="form-control" id="psw" placeholder="Kodi regjistrimit">
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Regjistrohu</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Anulo</button>
        </div>
      </div>
      
    </div>
  </div> 
</div>





                    <!-- Forma Modale e Identifikimit-->
  <div class="modal fade" id="modalIdentifikimi" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Identifikohu</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Emri Perdoruesit</label>
              <input type="text" class="form-control" id="usrname" placeholder="jepni emailin">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Fjalekalimi</label>
              <input type="text" class="form-control" id="psw" placeholder="Jepni fjalekalimin">
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Identifikohu</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Anulo</button>
        </div>
      </div>
      
    </div>
  </div> 
</div>

                    <!-- Karuseli -->
<div class="fotorama" data-loop="true" data-autoplay="true" data-keyboard="true" data-swipe="true">

  <img src="foto/1.png" alt="foto1">
  <img src="foto/2.png">
  <img src="foto/3.png">
  <img src="foto/4.png">
  <img src="foto/5.png">
</div>



<!-- shtesa kot per te pare funksionimin e navbarit -->
  <div class="container">

            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="jumbotron">
                        <h1>Hello, world!</h1>
                        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                    </div><!--/row-->
                </div><!--/.col-xs-12.col-sm-9-->

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                    <div class="list-group">
                        <a href="file:///C:/Users/User/Desktop/Programim%20ne%20Web%20Project/%C3%87mimet.html" class="list-group-item active">Çmimet</a>
                        <a href="file:///C:/Users/User/Desktop/Pajisjet.html" class="list-group-item">Pajisjet</a>
                        <a href="#" class="list-group-item">Shërbimet</a>
                        <a href="#" class="list-group-item">Këshilla</a>
                        <a href="#" class="list-group-item">Oraret</a>
                        <a href="#" class="list-group-item">FAQ</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Kontakt</a>
                    </div>
                </div><!--/.sidebar-offcanvas-->
            </div><!--/row-->

            <hr>

        </div><!--/.container-->
		
		<!---FOOTER-->
        <footer id="footer">
            <form action="#" method="post" accept-charset="utf-8">
            

              <table id="tablefooter" border="0">
               
                  <th style="color:white;vertical-align:top"><b><u>INFORMOHU</u></b><br><br>
                   
                      <ul>
                      <li><a href="about.html" style="color:white;"><b>Rreth Nesh</b></a></li>
                      <li><a href="file:///C:/Users/User/Desktop/Kontakt.html" style="color:white;"><b>Kontakt</b></a></li>              
                      </ul>   
                      
                  <ul> 
                      <li><a href="file:///C:/Users/User/Desktop/Privacy%20Policy.html" style="color:white;"><b>Privacy Policy</b></a></li>
                      <li><a href="file:///C:/Users/User/Desktop/Programim%20ne%20Web%20Project/Disclaimer%20Policy.html" style="color:white;"><b>Disclaimer Policy</b></a></li>
                      <li><a href="file:///C:/Users/User/Desktop/Copyright.html" style="color:white;"><b>Copyright</b></a></li>
                      <li><a href="file:///C:/Users/User/Desktop/Terms%20of%20Use.html#" style="color:white;"><b>Terms of Use</b></a></li>
                  
                  </ul>
                  
                  
                  <th style="color:white;vertical-align:top;"><b><u>SUBSCRIBE</u></b><br><br>
                      <p style="color:white;"><b>Njoftohu me një email për çdo të re nga Palestra X</b></p><br>
                      
                      <input type="email" name="stextfield" required="required"><br>
                      <input type="button" style="color:black;" name="subscribe" onclick="Subscribe()" value="Subscribe">
                 
                  <th style="color:white;vertical-align:top;"><b><u>NA NDIQNI</u></b><br><br>
                      
                          <a class="facebook" href="https://www.facebook.com/palestraX"><img width="45" height="45" alt="fb"  src="http://preston.by/images/facebook_socialnetwork_20047.png"></a><br>
                          <a class="instagram" href="https://www.instagram.com/palestraX"><img width="40" height="40" alt="insta" src="https://5a5a57ff32a328601212-ee0df397c56b146e91fe14be42fa361d.ssl.cf1.rackcdn.com/icon/instagram_logos_app_icon/YyepHGHDvkl1wFkUHw8Y/Instagram-v051916_200.png"></a><br>
                          <a class="youtube" href="https://www.youtube.com/palestraX"><img width="43" height="43" alt="yt"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Youtube_icon.svg/600px-Youtube_icon.svg.png"></a>
                          <a class="twitter" href="https://www.twitter.com/palestraX"><img width="43" height="43" alt="tw"  src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Twitter-icon.png"></a>
                  
                  <th style="color:white;vertical-align:top;"><b><u>KU NDODHEMI</u></b><br><br>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.2868742160704!2d19.8070851154238!3d41.32437487926988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13503106ce23ca25%3A0xefa6e52c8c15678f!2sRruga+Myslym+Shyri%2C+Tiran%C3%AB%2C+Albania!5e0!3m2!1sen!2s!4v1480963455345" 
					  width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                          
                    
                </table>
                </form>
                    
<section class="container" id="footer-bottom">
      <div class="container-inner">
                    
            <div id="copyright">
                <p style="color:white; text-align:right"><b>Palestra X 2016. All Rights Reserved.</b></p>
                          </div>


  </footer> <!--/#footer-->



<script>

    $(document).ready(function(){
    $("#identifikohu").click(function(){
        $("#modalIdentifikimi").modal();
    });
});


    $(document).ready(function(){
    $("#regjistrohu").click(function(){
        $("#modalRegjistrimi").modal();
    });
});

    var autocompleteOFF = document.querySelectorAll( "input" );
    for( var i = 0; i < autocompleteOFF.length; i++ )
    {
        autocompleteOFF[ i ].autocomplete = "off";
    }
</script>

</body>
</html>
